In [1]:
import pandas as pd
import numpy as np

In [5]:
df_deliveries = pd.read_csv('deliveries.csv')
df_deliveries

,Unnamed: 0,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [6]:
df_matches = pd.read_csv('matches.csv')
df_matches

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,id,season,city,date,team1,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,0,0,0,0,0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,Rajiv Gandhi Intl. Cricket Stadium,AY Dandekar,NJ Llong,NaN
1,1,1,1,1,1,2,2017,Pune,2017-04-06,Mumbai Indians,...,normal,0,Rising Pune Supergiants,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,2,2,2,2,2,3,2017,Rajkot,2017-04-07,Gujarat Lions,...,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,3,3,3,3,3,4,2017,Indore,2017-04-08,Rising Pune Supergiants,...,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,4,4,4,4,4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,...,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M. Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,751,751,751,751,751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,...,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,752,752,752,752,752,11412,2019,Chennai,07/05/19,Chennai Super Kings,...,normal,0,Mumbai Indians,0,6,AS Yadav,"MA Chidambaram Stadium, Chepauk",Nigel Llong,Nitin Menon,Ian Gould
753,753,753,753,753,753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,...,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,754,754,754,754,754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,...,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,755,755,755,755,755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [7]:
# 1
df_matches.describe()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,id,season,dl_applied,win_by_runs,win_by_wickets
count,756.000000,756.000000,756.000000,756.000000,756.000000,756.000000,756.000000,756.000000,756.000000,756.000000
mean,377.500000,377.500000,377.500000,377.500000,377.500000,1792.178571,2013.444444,0.025132,13.283069,3.350529
std,218.382692,218.382692,218.382692,218.382692,218.382692,3464.478148,3.366895,0.156630,23.471144,3.387963
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2008.000000,0.000000,0.000000,0.000000
25%,188.750000,188.750000,188.750000,188.750000,188.750000,189.750000,2011.000000,0.000000,0.000000,0.000000
50%,377.500000,377.500000,377.500000,377.500000,377.500000,378.500000,2013.000000,0.000000,0.000000,4.000000
75%,566.250000,566.250000,566.250000,566.250000,566.250000,567.250000,2016.000000,0.000000,19.000000,6.000000
max,755.000000,755.000000,755.000000,755.000000,755.000000,11415.000000,2019.000000,1.000000,146.000000,10.000000

In [8]:
# 2
len(df_matches.season.unique())

12

In [9]:
# 3
winners = df_matches['winner'].groupby(df_matches['winner']).agg('count').sort_values(ascending = False)
print(winners)
print()
print(winners[:3].agg('sum'))

winner
Mumbai Indians                 109
Chennai Super Kings            100
Kolkata Knight Riders           92
Royal Challengers Bangalore     84
Kings XI Punjab                 82
Delhi Capitals                  77
Rajasthan Royals                75
Sunrisers Hyderabad             58
Deccan Chargers                 29
Rising Pune Supergiants         15
Gujarat Lions                   13
Pune Warriors                   12
Kochi Tuskers Kerala             6
Name: winner, dtype: int64

301

In [10]:
# 4
df_matches.winner.unique()

array(['Sunrisers Hyderabad', 'Rising Pune Supergiants',
       'Kolkata Knight Riders', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Mumbai Indians', 'Delhi Capitals',
       'Gujarat Lions', 'Chennai Super Kings', 'Rajasthan Royals',
       'Deccan Chargers', 'Pune Warriors', 'Kochi Tuskers Kerala', nan],
      dtype=object)

In [11]:
# 5
tm1 = df_matches['team1'].groupby(df_matches['team1']).agg('count')
tm2 = df_matches['team2'].groupby(df_matches['team2']).agg('count')
w = (winners/(tm1+tm2))*100
(w['Mumbai Indians']+w['Sunrisers Hyderabad']+w['Kings XI Punjab'])/3

52.861127616029584

In [12]:
# 6
print(w[w >= 50])
len(w[w >= 50])

Chennai Super Kings        60.975610
Kolkata Knight Riders      51.685393
Mumbai Indians             58.288770
Rajasthan Royals           51.020408
Rising Pune Supergiants    50.000000
Sunrisers Hyderabad        53.703704
dtype: float64

6

In [13]:
# 7
df_matches['venue'].groupby(df_matches['venue']).agg('count').sort_values(ascending=False)

venue
M. Chinnaswamy Stadium                                  80
Eden Gardens                                            77
Feroz Shah Kotla Ground                                 74
Wankhede Stadium                                        73
Rajiv Gandhi Intl. Cricket Stadium                      64
MA Chidambaram Stadium, Chepauk                         57
Punjab Cricket Association IS Bindra Stadium, Mohali    56
Sawai Mansingh Stadium                                  47
Maharashtra Cricket Association Stadium                 38
Dr DY Patil Sports Academy                              17
Kingsmead                                               15
ACA-VDCA Stadium                                        13
SuperSport Park                                         12
Sardar Patel Stadium, Motera                            12
Brabourne Stadium                                       11
Saurashtra Cricket Association Stadium                  10
Holkar Cricket Stadium                                   9
Himachal Pradesh Cricket Association Stadium             9
New Wanderers Stadium                                    8
Newlands                                                 7
JSCA International Stadium Complex                       7
Sheikh Zayed Stadium                                     7
St George's Park                                         7
Dubai International Cricket Stadium                      7
Barabati Stadium                                         7
Sharjah Cricket Stadium                                  6
Shaheed Veer Narayan Singh International Stadium         6
Nehru Stadium                                            5
Green Park                                               4
De Beers Diamond Oval                                    3
Buffalo Park                                             3
Vidarbha Cricket Association Stadium, Jamtha             3
OUTsurance Oval                                          2
Name: venue, dtype: int64

In [14]:
# 8
print(df_matches.venue.unique())
print(len(df_matches.venue.unique()))

['Rajiv Gandhi Intl. Cricket Stadium'
 'Maharashtra Cricket Association Stadium'
 'Saurashtra Cricket Association Stadium' 'Holkar Cricket Stadium'
 'M. Chinnaswamy Stadium' 'Wankhede Stadium' 'Eden Gardens'
 'Feroz Shah Kotla Ground'
 'Punjab Cricket Association IS Bindra Stadium, Mohali' 'Green Park'
 'Sawai Mansingh Stadium' 'MA Chidambaram Stadium, Chepauk'
 'Dr DY Patil Sports Academy' 'Newlands' "St George's Park" 'Kingsmead'
 'SuperSport Park' 'Buffalo Park' 'New Wanderers Stadium'
 'De Beers Diamond Oval' 'OUTsurance Oval' 'Brabourne Stadium'
 'Sardar Patel Stadium, Motera' 'Barabati Stadium'
 'Vidarbha Cricket Association Stadium, Jamtha'
 'Himachal Pradesh Cricket Association Stadium' 'Nehru Stadium'
 'ACA-VDCA Stadium' 'Shaheed Veer Narayan Singh International Stadium'
 'JSCA International Stadium Complex' 'Sheikh Zayed Stadium'
 'Sharjah Cricket Stadium' 'Dubai International Cricket Stadium']
33

In [15]:
# 9
u1 = df_matches['umpire1'].groupby(df_matches['umpire1']).count()
u2 = df_matches['umpire2'].groupby(df_matches['umpire2']).count()
u = u1 + u2
u.sort_values(ascending=False,inplace=True)
umpires = u[:3].index
count1 = df_matches[df_matches['umpire1'].isin(umpires)]['umpire1']
count2 = df_matches[df_matches['umpire2'].isin(umpires)]['umpire2']
count1.agg('count') + count2.agg('count')

266

In [16]:
# 10
u = pd.unique(df_matches[['umpire1','umpire2']].dropna().values.ravel('k'))
len(u)

75

In [17]:
# 11
df_deliveries.total_runs.sum() - df_deliveries[ df_deliveries['batsman_runs'].isin((4,6))]['batsman_runs'].sum()

104702

In [27]:
# 12
df1 = df_deliveries.rename(columns={'match_id':'id'})
df = pd.merge(df1,df_matches,on='id')
total = df[['season','total_runs']].groupby(df['season']).total_runs.sum()
total_6_4 = df[['season','batsman_runs']][df['batsman_runs'].isin((4,6))].groupby(df['season']).batsman_runs.sum()
s = df.season.unique()[(total-total_6_4) > 10000]
# s.count()
s

array([2011, 2012], dtype=int64)

In [28]:
# 13
# first approach
print('first approach')
idx = df_matches.groupby(['season'])['win_by_runs'].transform(max) == df_matches['win_by_runs']
print(df_matches[idx].sort_values('win_by_runs'))
print(df_matches[['id','season','win_by_runs']][idx].sort_values('win_by_runs').sum() -92)

# second approach
print('\n\nsecond approach')
idx = df_matches.groupby(['season'])['win_by_runs'].transform(max)
print(idx.unique().sum())

first approach
     Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  Unnamed: 0.1.1.1  \
379         379           379             379               379
121         121           121             121               121
131         131           131             131               131
464         464           464             464               464
182         182           182             182               182
676         676           676             676               676
295         295           295             295               295
706         706           706             706               706
410         410           410             410               410
556         556           556             556               556
59           59            59              59                59
619         619           619             619               619
43           43            43              43                43

     Unnamed: 0.1.1.1.1     id  season            city        date  \
379                 379    380    2012         Chennai  2012-05-25
121                 121    122    2009  Port Elizabeth  2009-04-20
131                 131    132    2009  Port Elizabeth  2009-04-27
464                 464    465    2014       Abu Dhabi  2014-04-21
182                 182    183    2010           Delhi  2010-03-17
676                 676   7934    2018         Kolkata    09/05/18
295                 295    296    2011      Dharamsala  2011-05-17
706                 706  11147    2019       Hyderabad    31/03/19
410                 410    411    2013       Bangalore  2013-04-23
556                 556    557    2015       Bangalore  2015-05-06
59                   59     60    2008       Bangalore  2008-04-18
619                 619    620    2016       Bangalore  2016-05-14
43                   43     44    2017           Delhi  2017-05-06

                           team1  ...  result dl_applied  \
379          Chennai Super Kings  ...  normal          0
121          Chennai Super Kings  ...  normal          0
131               Mumbai Indians  ...  normal          0
464          Chennai Super Kings  ...  normal          0
182               Mumbai Indians  ...  normal          0
676               Mumbai Indians  ...  normal          0
295              Kings XI Punjab  ...  normal          0
706          Sunrisers Hyderabad  ...  normal          0
410  Royal Challengers Bangalore  ...  normal          0
556  Royal Challengers Bangalore  ...  normal          0
59         Kolkata Knight Riders  ...  normal          0
619  Royal Challengers Bangalore  ...  normal          0
43                Mumbai Indians  ...  normal          0

                          winner win_by_runs  win_by_wickets player_of_match  \
379          Chennai Super Kings          86               0         M Vijay
121          Chennai Super Kings          92               0  M Muralitharan
131               Mumbai Indians          92               0    SR Tendulkar
464          Chennai Super Kings          93               0        SK Raina
182               Mumbai Indians          98               0    SR Tendulkar
676               Mumbai Indians         102               0    Ishan Kishan
295              Kings XI Punjab         111               0    AC Gilchrist
706          Sunrisers Hyderabad         118               0      J Bairstow
410  Royal Challengers Bangalore         130               0        CH Gayle
556  Royal Challengers Bangalore         138               0        CH Gayle
59         Kolkata Knight Riders         140               0     BB McCullum
619  Royal Challengers Bangalore         144               0  AB de Villiers
43                Mumbai Indians         146               0     LMP Simmons

                                            venue         umpire1  \
379               MA Chidambaram Stadium, Chepauk     BR Doctrove
121                              St George's Park      BG Jerling
131                              St George's Park      BG Jerling
464                          Sheikh Zayed Stadium  RK Illingworth
182                       Feroz Shah Kotla Ground     BR Doctrove
676                                  Eden Gardens  Anil Chaudhary
295  Himachal Pradesh Cricket Association Stadium       Asad Rauf
706            Rajiv Gandhi Intl. Cricket Stadium          S Ravi
410                        M. Chinnaswamy Stadium       Aleem Dar
556                        M. Chinnaswamy Stadium  RK Illingworth
59                         M. Chinnaswamy Stadium       Asad Rauf
619                        M. Chinnaswamy Stadium     AY Dandekar
43                        Feroz Shah Kotla Ground     Nitin Menon

                  umpire2           umpire3
379            SJA Taufel               NaN
121            SJA Taufel               NaN
131             RB Tiffin               NaN
464         C Shamshuddin               NaN
182           SK Tarapore               NaN
676  K Ananthapadmanabhan  Kumar Dharmasena
295             AM Saheba               NaN
706  KN Anantapadmanabhan     C Shamshuddin
410         C Shamshuddin               NaN
556           VA Kulkarni               NaN
59            RE Koertzen               NaN
619             VK Sharma               NaN
43              CK Nandan               NaN

[13 rows x 23 columns]
id             22259
season         26079
win_by_runs     1398
dtype: int64


second approach
1398

In [29]:
# 14
idx = df_matches.groupby(['season'])['win_by_runs'].transform(max) == df_matches['win_by_runs']
print(df_matches[idx].sort_values('win_by_runs')[['season','win_by_runs']])

     season  win_by_runs
379    2012           86
121    2009           92
131    2009           92
464    2014           93
182    2010           98
676    2018          102
295    2011          111
706    2019          118
410    2013          130
556    2015          138
59     2008          140
619    2016          144
43     2017          146

In [30]:
# 15
# df[df_matches['team1'] == 'Chennai Super Kings']
first = df_matches[df_matches['team1'] == 'Chennai Super Kings'][df_matches['team2'] == 'Mumbai Indians'].player_of_match.count()
second = df_matches[df_matches['team1'] == 'Mumbai Indians'][df_matches['team2'] == 'Chennai Super Kings'].player_of_match.count()
first + second

<ipython-input-30-de46d8f60dcf>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  first = df_matches[df_matches['team1'] == 'Chennai Super Kings'][df_matches['team2'] == 'Mumbai Indians'].player_of_match.count()
<ipython-input-30-de46d8f60dcf>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  second = df_matches[df_matches['team1'] == 'Mumbai Indians'][df_matches['team2'] == 'Chennai Super Kings'].player_of_match.count()

28

In [31]:
# 16 
first = df_matches[df_matches['team1'] == 'Chennai Super Kings'][df_matches['team2'] == 'Mumbai Indians']
second = df_matches[df_matches['team1'] == 'Mumbai Indians'][df_matches['team2'] == 'Chennai Super Kings']
playerofmatch = first.append(second).groupby('player_of_match').size()
print(playerofmatch [playerofmatch > 2])
playerofmatch [playerofmatch > 2].size

player_of_match
KA Pollard    3
RG Sharma     3
SK Raina      3
dtype: int64

<ipython-input-31-23a8b7a2afd2>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  first = df_matches[df_matches['team1'] == 'Chennai Super Kings'][df_matches['team2'] == 'Mumbai Indians']
<ipython-input-31-23a8b7a2afd2>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  second = df_matches[df_matches['team1'] == 'Mumbai Indians'][df_matches['team2'] == 'Chennai Super Kings']

3

In [32]:
# 17
run50 = df_deliveries.groupby(['match_id','batsman']).batsman_runs.agg('sum')
run50 = run50[run50 <=99]
run50 = run50 [run50 >= 50] 
run50.size

1128

In [33]:
#18
run50 = df_deliveries.groupby(['match_id','batsman'],as_index=False).batsman_runs.agg('sum')
run50 = run50 [run50['batsman_runs'] <=99]
run50 = run50 [run50['batsman_runs'] >= 50] 
run50['batsman'].unique().size

149

In [34]:
#19
run100 = df_deliveries.groupby(['match_id','batsman'],as_index=False).batsman_runs.agg('sum')
run100 = run100 [run100['batsman_runs'] >= 100] 
len(run100)

62

In [35]:
#20
run100 = df_deliveries.groupby(['match_id','batting_team','batsman'],as_index=False).batsman_runs.agg('sum')
run100 = run100 [run100['batsman_runs'] >= 100] 
tenCenturies = run100.groupby('batting_team').size() 
tenCenturies = tenCenturies [tenCenturies > 10]
print(tenCenturies)
tenCenturies.size

batting_team
Kings XI Punjab                13
Royal Challengers Bangalore    13
dtype: int64

2